./VINCIFitness.xcworkspace
./VINCIFitness.xcworkspace/*
./VINCIFitness.xcodeproj/*
./VINCIFitness.xcodeproj
./VINCIFitness.xcodeproj/project.xcworkspace/xcuserdata
./VINCIFitness.xcodeproj/xcuserdata
./Podfile.lock
./Pods
./.DS_Store
